<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snow.meta.mapper.MetaFieldMapper">

    <insert id="batchInsert" parameterType="java.util.List">

        <foreach collection ="list" item="item" index= "index" separator =";">
            insert into meta_field_info
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.tableId != null">table_id,</if>
                <if test="item.fieldName!=null">field_name,</if>
                <if test="item.fieldNameChinese!=null">field_name_chinese,</if>
                <if test="item.type!=null">type,</if>
                <if test="item.deleted!=null">deleted,</if>
                <if test="item.createTime!=null">create_time,</if>
                <if test="item.updateTime!=null">update_time,</if>
                <if test="item.description!=null">description,</if>
                <if test="item.primaryKeyFlag!=null">primary_key_flag,</if>
                <if test="item.nullFlag!=null">null_flag,</if>
            </trim>
            values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.tableId != null">#{item.tableId},</if>
                <if test="item.fieldName!=null">#{item.fieldName},</if>
                <if test="item.fieldNameChinese!=null">#{item.fieldNameChinese},</if>
                <if test="item.type!=null">#{item.type},</if>
                <if test="item.deleted!=null">#{item.deleted},</if>
                <if test="item.createTime!=null">#{item.createTime},</if>
                <if test="item.updateTime!=null">#{item.updateTime},</if>
                <if test="item.description!=null">#{item.description},</if>
                <if test="item.primaryKeyFlag!=null">#{item.primaryKeyFlag},</if>
                <if test="item.nullFlag!=null">#{item.nullFlag},</if>
            </trim>
            ON DUPLICATE KEY UPDATE
            <trim suffixOverrides=",">
                <if test="item.tableId != null">table_id = #{item.tableId},</if>
                <if test="item.fieldName!=null">field_name = #{item.fieldName},</if>
                <if test="item.fieldNameChinese!=null">field_name_chinese = #{item.fieldNameChinese},</if>
                <if test="item.type!=null">type = #{item.type},</if>
                <if test="item.deleted!=null">deleted = #{item.deleted},</if>
                <if test="item.createTime!=null">create_time = #{item.createTime},</if>
                <if test="item.updateTime!=null">update_time = #{item.updateTime},</if>
                <if test="item.description!=null">description = #{item.description},</if>
                <if test="item.primaryKeyFlag!=null">primary_key_flag = #{item.primaryKeyFlag},</if>
                <if test="item.nullFlag!=null">null_flag = #{item.nullFlag},</if>

            </trim>

        </foreach>
    </insert>



</mapper>